<div class="artifact-modal">
  <div id="artifact_affiliation"><p><b>Collection:</b> <%= affiliation %></p></div>
  <div id="artifact_name"><p><b>Name:</b> <%= name %></p></div>
  <div id="artifact_provenance"><p><b>Provenance:</b> <%= Provenance %></div>
</div>
