<link rel="stylesheet" type="text/css" href="styles/home.css">
<script src="js/artifact.js"></script>
<div class="artifact-modal">
<table>
<tr>
<div id="toolbar">
<td><button onclick="getSelectionText();">Mark</button></td>
<td><button onclick="flag();">Flag</button></td>
</div></tr>
<tr><td><div id="artifact_affiliation"><p><b>Collection:</b> <%= affiliation %></p></div></td></tr>
<tr><td><div id="artifact_name"><p><b>Registration number:</b> <%= name %></p></div></td></tr>
<tr><td><div id="artifact_provenance"><p><b>Provenance:</b> <%= Provenance %></div>
<ul class='custom-menu'>
  <li data-action="first">Person</li>
  <li data-action="second">Time</li>
  <li data-action="third">Place</li>
</ul>
</td></tr>
</table>
</div>