<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/home.css">
<link rel="stylesheet" href="styles/responsive-full-background-image.css">
<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
  var username = "<%= username %>";
</script>
<script src="js/home.js"></script>
<script src="js/signup.js"></script>
<script src="js/signin.js"></script>

<title>The Collector's Project</title>
</head>
<body id="backgroundImageID">

<!-- Navigation content -->
<div id="header">
  <div id="title">
    <h1 id="nav_bar_title">the collector's project</h1>
  </div>
  <div id="nav_bar">
      <a id="news" href="#">News</a>
      <a id="about" href="#">About</a>
      <a id="signIn" href="#">Sign in</a>
      <a id="signUp" href="#">Sign up</a>
      <a href="/profile" id="profile">Profile</a>
      <a href="/logout" id="signOut">Sign out</a>

  </div>
</div>


<!-- Main content -->

<div id="body_text">
    <div id="body_words"><p id="top">Your search begins here. </p></div>
    <div id="body_search"><input type="text" id="search" placeholder="Enter an artifact, place, or person"></div>
</div>

<!-- Modal content for signing up -->
<div id="signUpModal" class="modal">
  <div class="signUpModalContent">
    <form action="/signup" method="post">
    <div id="signUpBody">
      <div id="right_column">
        <table style="width:100%">
          <tr>
            <td>First name</td>
            <td><input class="searchbar" name="firstname" type="text"></td>
          </tr>
          <tr>
            <td>Last name</td>
            <td><input class="searchbar" name="lastname"  type="text"></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input class="searchbar" name="email" type="email"></td>
          </tr>
          <tr>
            <td>Affiliation</td>
            <td><input class="searchbar" name="affiliation" type="text"></td>
          </tr>
          <tr>
            <td>City</td>
            <td><input class="searchbar" name="city" type="text"></td>
          </tr>
          <tr>
            <td>Country</td>
            <td><input class="searchbar" name="country" type="text"></td>
          </tr>
            <td>Password</td>
            <td><input class="searchbar" name="password" type="text"></td>
          </tr>
          <tr>
        </table>
      </div>
      <div id="left_column">
        <table style="width:100%">
          <tr>
            <td id="floatright">I am a</td>
            <td>
              <p class="smaller">
                <input class="check" type="checkbox">
                Curator<br>

              <p class="smaller">
                <input class="check" type="checkbox">
                Other</td>
          </tr>
          <tr>
            <td id="center"><button class="butt" type="button">CaptCHA</button></td>
          </tr>
          <tr>
            <td id="center">
              <button class="butt" type="submit" id="createAccount">Create account</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    </form>
  </div>
</div>

<!-- Modal content for signing in -->
<div id="signInModal" class="modal">
  <div class="signInModalContent">
    <form action="/login" method="post">
    <div id="signInBody">
      <div id="right_column">
        <table style="width:100%">
          <tr>
            <td>Username:</td>
            <td><input name="email" id="username_login" type="email"></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input name="password" id="username_login" type="password"></td>
          </tr>

        </table>

          <button class="butt" id="login_button">Login</button>
      </div>
    </div>
  </form>
  </div>
</div>


<!-- Search content -->
<div id="search_results">
      <div class="artifact">
        <div class="box"><img src="images/2000.30.jpg" width="100px" height="100px"></div>
          <h4><a id="urn" href="#">egyptian urn</a></h4>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name is very very very long</h4></div>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name is very very very very very very long</h4></div>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name</h4></div>
      </div>
      <div class="artifact">
        <div class="box"><img src="images/2000.30.jpg" width="100px" height="100px"></div>
          <h4><a id="urn" href="#">egyptian urn</a></h4>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name is very very very long</h4></div>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name is very very very very very very long</h4></div>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name</h4></div>
      </div>
       <div class="artifact">
        <div class="box"><img src="images/2000.30.jpg" width="100px" height="100px"></div>
          <h4><a id="urn" href="#">egyptian urn</a></h4>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name is very very very long</h4></div>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name is very very very very very very long</h4></div>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name</h4></div>
      </div>
      <div class="artifact">
        <div class="box"><img src="images/2000.30.jpg" width="100px" height="100px"></div>
          <h4><a id="urn" href="#">egyptian urn</a></h4>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name is very very very long</h4></div>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name is very very very very very very long</h4></div>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name</h4></div>
      </div>
      <div class="artifact">
        <div class="box"><img src="images/2000.30.jpg" width="100px" height="100px"></div>
          <h4><a id="urn" href="#">egyptian urn</a></h4>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name is very very very long</h4></div>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name is very very very very very very long</h4></div>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name</h4></div>
      </div>
      <div class="artifact">
        <div class="box"><img src="images/2000.30.jpg" width="100px" height="100px"></div>
          <h4><a id="urn" href="#">egyptian urn</a></h4>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name is very very very long</h4></div>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name is very very very very very very long</h4></div>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <div class="object_label"><h4>object name</h4></div>
      </div>                       
</div>


</body>
</html>
