<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/home.css">
<link rel="stylesheet" href="styles/responsive-full-background-image.css">
<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="js/home.js"></script>
<script src="js/signup.js"></script>
<script src="js/signin.js"></script>
<script src="js/search_results.js"></script>

<title>The Collector's Project</title>
</head>
<body id="backgroundImageID">

<!-- Navigation content -->
<div id="header">
  <div id="title">
    <h1 id="nav_bar_title">the collector's project</h1>
  </div>
  <div id="nav_bar">
    <ul>
      <li id="menu_item"><a id="news" href="#">News</a></li>
      <li id="menu_item"><a id="about" href="#">About</a></li>
      <li id="menu_item"><a id="signIn" href="#">Sign in</a></li>
      <li id="menu_item"><a id="signUp" href="#">Sign up</a></li>

      <li id="menu_item"><a id="signOut" href="#">Sign out</a></li>

    </ul>
  </div>
</div>

<!-- Modal content for signing up -->
<div id="signUpModal" class="modal">
  <div class="signUpModalContent">
    <div id="signUpBody">
      <div id="right_column">
        <table style="width:100%">
          <tr>
            <td>First name</td>
            <td><input class="searchbar" id="firstname" type="text"></td>
          </tr>
          <tr>
            <td>Last name</td>
            <td><input class="searchbar" id="lastname"  type="text"></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input class="searchbar" id="email" type="email"></td>
          </tr>
          <tr>
            <td>Affiliation</td>
            <td><input class="searchbar" id="affiliation" type="text"></td>
          </tr>
          <tr>
            <td>City</td>
            <td><input class="searchbar" id="city" type="text"></td>
          </tr>
          <tr>
            <td>Country</td>
            <td><input class="searchbar" id="country" type="text"></td>
          </tr>
          <tr>
            <td>Username</td>
            <td><input class="searchbar" id="username" type="text"></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input class="searchbar" id="password" type="text"></td>
          </tr>
          <tr>
        </table>
      </div>
      <div id="left_column">
        <table style="width:100%">
          <tr>
            <td id="floatright">I am a</td>
            <td>
              <p class="smaller">
                <input class="check" type="checkbox">
                Curator<br>
              
              <p class="smaller">
                <input class="check" type="checkbox">
                Other</td>
          </tr>
          <tr>
            <td id="center"><button class="butt" type="button">CaptCHA</button></td>
          </tr>
          <tr>
            <td id="center">
              <button class="butt" type="button" id="createAccount">Create account</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal content for signing in -->
<div id="signInModal" class="modal">
  <div class="signInModalContent">
    <div id="signInBody">
      <div id="right_column">
        <table style="width:100%">
          <tr>
            <td>Username:</td>
            <td><input type="email" id="username_login"></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="password" id="username_login"></td>
          </tr>
        </table>
      </div>
      <button class="butt" id="login_button">Login</button>
    </div>
  </div>
</div>


<!-- Main content -->
<div id="page_body">
  <div id="body_text">
    <p id="top">What are you</p>
    <p id="bottom">Looking for...</p>
  </div>
  <input type="text" id="search" placeholder="search">
</div>
<div id="news_container">
  <div id="news_header">News</div>
  <div id="news_item_container">
    <div id="news_item"></div>
    <div id="news_item"></div>
    <div id="news_item"></div>
    <div id="news_item"></div>
        <div id="news_item"></div>
            <div id="news_item"></div>
  </div>
</div>


<!-- Search content -->
<div id="search_results">
      <div class="artifact">
        <div class="box"><img src="images/2000.30.jpg" width="100px" height="100px"></div>
          <h4><a id="urn" href="#">egyptian urn</a></h4>
      </div>
      <div class="artifact">
        <div class="box"><img src="images/blue.jpg" width="100px" height="100px"></div>
        <h4>object name is very very long</h4>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <h4>object name</h4>
      </div>
      <div class="artifact">
        <div class="box"> </div>
        <h4>object name</h4>
      </div>

</div>


<div id="footer_container">
<div id="footer">Please read our privacy policy before using this application</div>
</div>
</body>
</html>