<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/home.css">
<link rel="stylesheet" href="styles/responsive-full-background-image.css">
<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="js/ejs_production.js"></script>
<script src="js/home.js"></script>
<script>
var username = "<%= username %>";
</script>
<title>The Collector's Project</title>
</head>
<body id="backgroundImageID">

<!-- Navigation content -->
<div id="header">
  <div id="title">
    <h1 id="nav_bar_title">the collector's project</h1>
  </div>
  <div id="nav_bar"><a id="news" href="#">News</a>
    <a id="about" href="#">About</a>
    <a id="signIn" href="#">Sign in</a>
    <a id="signUp" href="#">Sign up</a>
    <a href="/upload" id="upload">Upload File</a>
    <a id="profile" href="#">Profile</a>
    <a href="/logout" id="signOut">Sign out</a>
  </div>
</div>

<!-- Main content -->

<div id="body_text">
  <table>
    <tr>
      <td colspan="3"><div id="body_words">
          <p id="top">Your search begins here. </p>
        </div></td>
    </tr>
    <tr>
      <td colspan="3"><div id="body_search">
          <input type="text" id="search" placeholder="Enter your search term...">
        </div></td>
    </tr>
  </table>
  <div id="search_results"></div>
</div>
<div id="modal">
  <div id="modalBox"></div>
</div>
</body>
</html>