<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
<title>Node Authentication</title>
<link rel="stylesheet" href="styles/signup.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="js/signup.js"></script>
</head>
<body>
<table id="signin_table">
    <tr>
      <td colspan="2"><% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %></td>
    </tr>
    <tr>
	  <form action="/login" method="post">
      <td><label>Email</label></td>
      <td><input type="text" name="email"></td>
    </tr>
    <tr>
      <td><label>Password</label></td>
      <td><input type="password" name="password"></td>
    </tr>
    <tr>
      <td colspan="2"><button type="submit" class="btn">Login</button></td>
    </tr>
    <tr>
    <td colspan="2"><p>Need an account? <a id="signUpHere" href="#">Signup</a></p></td></tr>
      </div>
      </div>
  </form>
</table>
</body>
</html>
