<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../styles/search.css">
<script src="../js/visual.js"></script>
<title>search</title>
</head>
<body>
<div id="results">
  <h2>search results</h2>
  <input id="bar" type="text" name="search" placeholder="search...">
</div>
<div id="filters">
  <h4>filters</h4>
  <form>
    <input class="check" type="checkbox" name="location" value="location">
    location
    <input id="location_input" type="text" name="location">
    <input class="check" type="checkbox" name="date" value="date">
    date
    <input id="date_input" type="text" name="date">
    <input class="check" type="checkbox" name="person" value="person">
    people
    <input id="person_input" type="text" name="person">
    <input type="submit" value="submit">
  </form>
</div>
</div>
<div id="results_module" class="tabs">
  <div class="tab">
    <button class="tablinks" onclick="openResult(event, 'Artifacts')">Artifacts</button>
    <button class="tablinks" onclick="openResult(event, 'People')">People</button>
  </div>
  <div id="Artifacts" class="tabcontent">
    <div id="art1" class="artifact">
      <div class="box"><img src="../images/2000.30.jpg" width="100px" height="100px"></div>
      <h4><a id="urn" href="item.html">egyptian urn</a></h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>cool thingy</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>wow!</h4>
    </div>
    <div id="art4" class="artifact">
      <div class="box"> </div>
      <h4>amazing!</h4>
    </div>
    <div id="art5" class="artifact">
      <div class="box"> </div>
      <h4>woohoo</h4>
    </div>
    <div id="art6" class="artifact">
      <div class="box"> </div>
      <h4>yes</h4>
    </div>
    <div id="art7" class="artifact">
      <div class="box"> </div>
      <h4>cs132</h4>
    </div>
    <div id="art8" class="artifact">
      <div class="box"> </div>
      <h4>steve</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>lmao</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>extra</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>pineapple</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
    <div id="art9" class="artifact">
      <div class="box"> </div>
      <h4>coconut</h4>
    </div>
  </div>
  <div id="People" class="tabcontent">
    <div id="art1" class="artifact">
      <div class="box"> </div>
      <h4>george michael</h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>madonna</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>steve reiss</h4>
    </div>
    <div id="art1" class="artifact">
      <div class="box"> </div>
      <h4>george michael</h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>madonna</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>steve reiss</h4>
    </div>
    <div id="art1" class="artifact">
      <div class="box"> </div>
      <h4>george michael</h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>madonna</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>steve reiss</h4>
    </div>
    <div id="art1" class="artifact">
      <div class="box"> </div>
      <h4>george michael</h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>madonna</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>steve reiss</h4>
    </div>
    <div id="art1" class="artifact">
      <div class="box"> </div>
      <h4>george michael</h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>madonna</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>steve reiss</h4>
    </div>
    <div id="art1" class="artifact">
      <div class="box"> </div>
      <h4>george michael</h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>madonna</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>steve reiss</h4>
    </div>
    <div id="art1" class="artifact">
      <div class="box"> </div>
      <h4>george michael</h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>madonna</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>steve reiss</h4>
    </div>
    <div id="art1" class="artifact">
      <div class="box"> </div>
      <h4>george michael</h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>madonna</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>steve reiss</h4>
    </div>
    <div id="art1" class="artifact">
      <div class="box"> </div>
      <h4>george michael</h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>madonna</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>steve reiss</h4>
    </div>
    <div id="art1" class="artifact">
      <div class="box"> </div>
      <h4>george michael</h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>madonna</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>steve reiss</h4>
    </div>
    <div id="art1" class="artifact">
      <div class="box"> </div>
      <h4>george michael</h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>madonna</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>steve reiss</h4>
    </div>
    <div id="art1" class="artifact">
      <div class="box"> </div>
      <h4>george michael</h4>
    </div>
    <div id="art2" class="artifact">
      <div class="box"> </div>
      <h4>madonna</h4>
    </div>
    <div id="art3" class="artifact">
      <div class="box"> </div>
      <h4>steve reiss</h4>
    </div>
  </div>
</div>
</div>
</body>
</html>