<!doctype html>
<html>
<head>
<title>Sign in</title>
<link rel="stylesheet" href="styles/home.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!--<script src="js/signin.js"></script>-->
</head>
<body>

  <div class="modal" style="display:flex">
    <div class="signInModalContent">
      <form action="/signin" method="post">
        <div id="signInBody">
          <h2 id="signInTitle">Sign In</h2>
          <div class="signin-alert"><%= message %></div>
          <input name="email" id="username_login" type="email" placeholder="Your email">
          <input name="password" id="username_password" type="password" placeholder="Password">
          <button class="butt" id="login_button">sign in</button>
          <a id="back-to-homepage" href="/">Back to homepage</a>
        </div>
      </form>
    </div>
  </div>
<!--
<form id="#login_frm" action="signin" method="post">
<table id="signIn_tbl">
    <tr>
      <td colspan="2"><% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %></td>
    </tr>
    <tr>
      <td><label>Email</label></td>
      <td><input type="text" name="email"></td>
    </tr>
    <tr>
      <td><label>Password</label></td>
      <td><input type="password" name="password"></td>
    </tr>
    <tr>
      <td colspan="2"><button type="submit" class="btn">Login</button></td>
    </tr>
    <tr>
    <td colspan="2"><p>Need an account? <a id="signUp_lnk" href="#">Signup</a></p></td></tr>
      </div>
      </div>
</table>
</form>-->
</body>
</html>
