<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
<title>Node Authentication</title>
<link rel="stylesheet" href="styles/signup.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<table id="signup_table">
  <tr>
    <td colspan="2"><% if (message.length > 0) { %>
      </h1>
      <div class="alert alert-danger"><%= message %></div>
      <% } %></td>
  </tr>
  <form id="signUp">
    <tr>
      <td><label>Email</label></td>
      <td><input type="text" class="form-control" name="email"></td>
    </tr>
    <tr>
      <td><label>Verify email</label></td>
      <td><input type="text" class="form-control" name="email"></td>
    </tr>
    <tr>
      <td><label>Password</label></td>
      <td><input type="password" class="form-control" name="password"></td>
    </tr>
    <tr>
      <td><label>Verify password</label></td>
      <td><input type="password" class="form-control" name="verifyPassword"</td>
    </tr>
    <tr>
      <td colspan="2"><button type="submit" class="btn btn-warning btn-lg">Signup</button></td>
    </tr>
  </form>
</table>
</body>
</html>