<!doctype html>
<html>
<head>
<title>Node Authentication</title>
<link rel="stylesheet" href="styles/home.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script src="js/profile.js"></script>
</head>
<body>
<table id="userProfile_tbl">
  <tr>
    <td colspan="3"><h1>Welcome <%= user %></h1></td>
  </tr>
  <tr>
    <td><label>User ID:</label></td>
    <td colspan="2"><%= user._id %></td>
  </tr>
  <tr>
    <td><label>Institution:</label></td>
    <td colspan="2"><%= user.affiliation %></td>
  </tr>
  <tr>
    <td><label>City:</label></td>
    <td colspan="2"><%= user.city %></td>
  </tr>
  <tr>
    <td><label>Country:</label></td>
    <td colspan="2"><%= user.country %></td>
  </tr>
  <tr><td colspan="3"><h2>Account registered to:</h2></td></tr>
  <tr>
    <td><label>Email:</label></td>
    <td><%= user.local.email %></td>
    <td><a href="#" onClick="edit(email)">edit</a>
  </tr>
  <tr>
    <td><label>First name:</label></td>
    <td><%= user.firstname %></td>
    <td><a href="#" onClick="edit(firstname)">edit</a>
  </tr>
  <tr>
    <td><label>Last name:</label></td>
    <td><%= user.lastname %></td>
    <td><a href="#" onClick="edit(lastname)">edit</a>
  </tr>
</table>
</body>
</html>