<html>
<head>
<link rel="stylesheet" href="styles/home.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<title>Object Uploader</title>
</head>
<body>
<form encType="multipart/form-data" id="upload_form" action="/upload" method="post">
  <table id="signup_tbl">
    <tr>
      <td colspan="3">Spreadsheet containing object data (.xlsx files only): </td>
    </tr>
    <tr>
      <td colspan="2"><input type="file" name="spreadsheet" required id="upload_file_button"></td>
      <td><input type="submit" id="submit_button"></td>
    </tr>
    <tr>
      <td colspan="3">Column containing the object name: </td>
    </tr>
    <tr>
      <td colspan="3"><input type="number" name="namecolumn" min="1" required></td>
    </tr>
    <tr>
      <td colspan="3">Column containing the object provenance: </td>
    </tr>
    <tr>
      <td colspan="3"><input type="number" name="provenancecolumn" min="1" required></td>
    </tr>
    <tr>
      <td>Ignore header row?</td>
      <td><input name="ignoreheader" type="radio" value="true" checked>
        Yes</td>
      <td><input name="ignoreheader" type="radio" value="false">
        No</td>
  </table>
</form>
</body>
</html>