<!-- views/upload.ejs -->
<!doctype html>
<html>
<head>
    <title>Object Uploader</title>
</head>
<body>

<h1>Object Uploader</h1>
<form action="/upload" method="POST" encType="multipart/form-data">
  <p>Column containing the object name </p> <input type="number" name="namecolumn" min="1" required> <br>
  <p>Column containing the object provenance </p> <input type="number" name="provenancecolumn" min="1" required> <br>
  <input type="file" name="spreadsheet" required> <br>
  <input type="submit">
</form>
</body>
</html>
