<!doctype html>
<html>
<head>
<link rel="stylesheet" href="styles/home.css">
<script src="js/upload.js"></script>
<title>Object Uploader</title>
</head>
<body>
<form encType="multipart/form-data" id="upload_frm">
<table id="uploadSpreadsheet_tbl">
<tr>
<td><h1>Upload new dataset</h1></td></tr>
<tr><td><input type="file" accept="application/msexcel" name="spreadsheet" required placeholder="Select file..."></td></tr>
  <tr><td><input type="submit" class="btn"</td>Upload</tr>
</table>
</form>
</body>
</html>