<html>
<head>
<title><%= result %></title>
</head>
<body>
<table id="signup_tbl">
  <tr>
    <td><%= result %></td>
  </tr>
  <tr>
    <td><%= error %></td>
  </tr>
  <tr>
    <td><a href="\profile" > Back to profile </a></td>
  </tr>
</table>
</body>
</html>