<!-- views/upload.ejs -->
<!doctype html>
<html>
<head>
    <title><%= result %></title>
</head>
<body>

<h1> <%= result %> </h1>
<p> <%= error %> </p>

<a href="\profile" > Back to profile </a>

</body>
</html>
