<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../styles/profile.css">
<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="../js/userprofile.js"></script>
<script src="../js/tabs.js"></script>

<title>The Collector's Project</title>
</head>
<body id="backgroundImageID">

<!-- Navigation content -->
<div id="header">
  <div id="title">
    <h1 id="nav_bar_title">the collector's project</h1>
  </div>
  <div id="nav_bar">
    <ul>
      <li id="menu_item"><a id="news" href="#">News</a></li>
      <li id="menu_item"><a id="about" href="#">About</a></li>
      <div class="dropdown">
      <li id="menu_item"><a id="signIn" class="dropbtn" href="#">John Doe ⌄</a>

            <div id="dropdown-content">
              <a href="profile.html">My profile</a>
              <a href="upload.ejs">Upload file</a>
              <a href="#">Sign out</a>
            </div>
          
      </li>
      </div>
    </ul>
  </div>
</div>


<!-- Modal content for signing in -->
<div id="signInModal" class="modal">
  <div class="signInModalContent">
    <div id="signInBody">
      <div id="right_column">
        <table style="width:100%">
          <tr>
            <h4>Edit profile</h4>
          </tr>
          <tr>
            <td>First name</td>
            <td><input class="searchbar" id="firstname" type="text"></td>
          </tr>
          <tr>
            <td>Last name</td>
            <td><input class="searchbar" id="lastname"  type="text"></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input class="searchbar" id="email" type="email"></td>
          </tr>
          <tr>
            <td>Affiliation</td>
            <td><input class="searchbar" id="affiliation" type="text"></td>
          </tr>
          <tr>
            <td>City</td>
            <td><input class="searchbar" id="city" type="text"></td>
          </tr>
          <tr>
            <td>Country</td>
            <td><input class="searchbar" id="country" type="text"></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input class="searchbar" id="password" type="text"></td>
          </tr>
          <tr>
            
          </tr>
       <!--   <tr>
            <td><button id="save_button">Save</button></td>
          </tr>-->
        </table>
        <center><button id="save_button">Save</button></center>
      </div>
    </div>
  </div>
</div>


<!-- Main content -->
<div id="user_info">
    <h2 id="name">John Doe</h2>
    <h4>MoMA, San Francisco</h4>
    <h4>jdoe@moma.org</h4> 
    <h4>(401) 326-5610</h4>
    <a href="#" id="edit_profile">edit profile</a>
</div>

<div id="user_uploads">
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'Uploads')" id="defaultOpen">Uploads</button>
      <button class="tablinks" onclick="openCity(event, 'Saved_objects')">Saved Objects</button>
    </div>

    <div id="Uploads" class="tabcontent">
      <table style="width:60%" align="center">
        <tr>
          <th>Date</th>
          <th># of Objects</th> 
          <th>File Uploaded</th>
        </tr>
        <tr>
          <td>4/1/16</td>
          <td>5</td> 
          <td><a href="#">urn.xlsx</a></td>
        </tr>
        <tr>
          <td>3/12/16</td>
          <td>7</td> 
          <td><a href="#">seascroll.xlsx</a></td>
        </tr>
      </table>
    </div>

    <div id="Saved_objects" class="tabcontent">
      <p>here's the users saved objects</p> 
    </div>
</div>

</body>
</html>