/************************************/
/*				MAIN BODY			*/
/************************************/

body {
	margin:0;
	padding:0;
}

#header {
	display: flex;
	flex-direction:row;
	font-family:"akzidenz-bold";
	margin:0;
	padding:0;
	justify-content:space-between;
	align-items: center;

	height: 100px;
	background-color: hsla(0,0%,0%,0.5);
}


#wow_title {
	padding-left:30px;
	font-size:22pt; /* 30pt */
	font-family: "akzidenz-medium";
	color:white;
	text-decoration:none;
}

/************************************/
/*			NAVIGATION MENU			*/
/************************************/
#nav_bar {
	font-family:"akzidenz-regular";
	float:right;
	margin-right: 40px;
	margin-top:20px;
}

#nav_bar a {
	text-decoration:none;
	color: white;
	padding:15px;
	font-size: 20px;
	font-family:"akzidenz-medium";
}

#nav_bar a:hover {
	background-color: hsla(48,100%,50%,0.5);
	border-radius: 15px;
}

#nav_bar div {
	float: right;
	margin-right: 50px;
	text-decoration: none;
	background-color: transparent;

	font-size: 15px;
	font-family:"akzidenz-medium";
	border-radius: 15px;
}

#nav_bar div button {
	background-color: transparent;
	border: none;
	color: white;
}

#dropbtn {
	font-size:20px;
	font-family: "akzidenz-medium";
	margin-bottom:10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: hsla(48,100%,50%,0.5);*/
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left:-20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

#nav_bar div:hover .dropdown-content {
    display: block;
    background-color: hsla(0,0%,0%,0.5);
}

#nav_bar div:hover {
	/*background-color: hsla(48,100%,50%,0.5); /***/
	border-radius: 15px;
}

#about {
	margin-right:10px;
	margin-top:100px;
}

/************************************/
/*				MODALS				*/
/************************************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
	height: 100%; /* Full height */
/*    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.signUpModalContent {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 1px;
    height: 1px;
	border-radius: 25px;
}

.signInModalContent {
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
	height: 1px;
    width: 1px;
	border-radius: 25px;
}

.uploadModalContent {
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
	height: 1px;
    width: 1px;
	border-radius: 25px;
}

.objectModalContent {
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
	height: 1px;
    width: 1px;
	border-radius: 25px;
}

.profileModalContent {
    background-color: white;
    margin: 20% auto;
/*    padding: 20px;*/
    border: 1px solid #888;
	height: 1px;
    width: 1px;
	border-radius: 25px;
}



/************************************/
/*			TABS			*/
/************************************/


/* Style the tab */
div.tab {
	border-radius: 15px;
    overflow: hidden;
/*    border: 1px solid #ccc;*/
    background-color: hsla(0,0%,100%,1);
}

/* Style the buttons inside the tab */
div.tab button {
	border-radius: 15px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
/*    background-color: hsla(0,0%,0%,0.7);*/
    display: none;
    padding: 6px 12px;
/*    border: 1px solid #ccc;*/
	border-radius: 25px;
    border-top: none;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/************************************/
/*			SIGN UP MODAL			*/
/************************************/
#signUpBody {
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 600px;
  	height: 500px;
/*  	overflow-y: auto;*/
 	border-radius: 25px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
	background-color: white;
}

#signUpBody h2 {
	color: black;
	font-family: "akzidenz-bold";
	margin-bottom:70px;
}

#signUpBody p {
	font-family: "akzidenz-light";
	font-size:12pt;
	margin-bottom:30px;
}

#signup_column {
    display: flex;
 	justify-content: center;
 	align-items: center;
	font-size: 20px;
	font-family: "akzidenz-light";
	color: grey;
}

.butt {
	height:50px;
    width:100px;
    font-size: 15px;
}

#createAccount {
	color: white;
	font-family: "akzidenz-medium";
	background-color: #4f65d3;
	border-style: none;
	font-size: 20px;
	width: 200px;
	margin-top:40px;
	border-radius:10px;
}

td {
	padding-right: 40px;
	padding-bottom:10px;
}

table {
	border: none;
	border-collapse: collapse;
	margin-bottom:30px;
}



/************************************/
/*			SIGN IN MODAL			*/
/************************************/
#signInBody {
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 450px;
  	height: 400px;
  	overflow-y: auto;
 	border-radius: 25px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
	color:hsla(0,0%,100%,1);
	background-color: white;
}

.signin-alert {
	color: red;
	font-size : 24px;
	font-family: "akzidenz-medium";
}

#back-to-homepage {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size : 16px;
	font-family: "akzidenz-medium";
}

#signInBody td {
	color: black;
	background-color: blue;
}

#signInBody h2 {
	color: black;
	font-family: "akzidenz-bold";
}

#username_login {
	height: 35px;
	width: 50%;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "akzidenz-light";
	font-size: 20px;
}

#username_password {
	height: 35px;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "akzidenz-light";
	font-size: 20px;
}

#login_button {
	color: white;
	font-family: "akzidenz-medium";
	background-color: #4f65d3;
	border-style: none;
	font-size: 20px;
	width: 200px;
	border-radius: 10px;
}


/************************************/
/*			UPLOAD MODAL 			*/
/************************************/

#upload_body {
 	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 500px;
  	height: 500px;

 	border-radius: 20px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
	color: black;
	background-color: white;
	font-family: "akzidenz-light";
}

#upload_body h1 {
	color: black;
	font-family: "akzidenz-bold";
}

#submit_button {
	color: white;
	font-family: "akzidenz-medium";
	background-color: #4f65d3;
	border-style: none;
	font-size: 20px;
	width: 150px;
	height: 50px;
	margin-top: 40px;
}

#upload_form {
	display: flex;
  	flex-direction: column;
 	justify-content: center;
 	align-items: center;
}

#upload_file_button {
	padding-left: 80px;
}


/************************************/
/*			OBJECT MODAL 			*/
/************************************/

#object_body {
 	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;

  	width: 700px;
  	height: 300px;

 	border-radius: 20px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
	color: black;
	background-color: white;
	font-family: "akzidenz-light";

	padding: 40px;
}

#object_body h1 {
	color: black;
	font-family: "akzidenz-bold";
}


#artifact_table {
  border-style: none;
  /*margin-top: 50px;*/
}

#artifact_table td {
  border-style: none;
}

/************************************/
/*				BODY				*/
/************************************/

#body_text {
	position: fixed;
  	margin: auto;
  	top: 40%;
  	right: 0;
  	bottom: 20%;
  	left: 0;
  	width: 75%;
  	text-align: center;
}

#top {
	color: white;
	font-family:"akzidenz-light";
	font-size: 80px;
	margin: 25px;
}

/************************************/
/*			SEARCH BAR				*/
/************************************/

.searchbar {
	height: 20px;
	width: 200px;
	font-size: 18px;
	font-family: "akzidenz-light";
}

.tooltip {
    position: relative;
    display: inline-block;
}

#search {
    height: 60px;
    width: 750px;
    border-radius: 25px;
    padding: 5px 5px 5px 25px;
    z-index: 1;
    text-align: center;
    font-size: 20px;
    font-family: "akzidenz-light"
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -130%;
    left: 20%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

/*.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-family: "akzidenz-light";
    padding:10px;
    font-size: 10pt;
    width:350px;
}


/************************************/
/*				SEARCH				*/
/************************************/
#search_results {
	position: absolute;
	margin: auto;
	margin-top: 50px;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 90%;
	height: 50%;
	padding-left: 50px;
	padding-right: 50px;
	padding-top:30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	background-color: white;
/*	overflow: scroll;
*/	visibility: hidden;
	border-radius:20px;
}

.search_result {
	color: black;
	font-size: 12px;
	font-family: "akzidenz-light";
	display:inline-block;
	margin:20px;
	padding: 10px;
	background-color: white;
	width:100px;
	height:100px;
	border-style:solid;
	border-radius:5px;
	border-width: 1px;
}



/************************************/
/*			PROFILE					*/
/************************************/

#profile_search_results {

	margin: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: white;
	overflow: scroll;
}

#uploadList {
	margin: auto;


	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: white;
	overflow: scroll;
}

#profileModal {
	font-family:"akzidenz-light";
}


/************************************/
/*			RESPONSIVE				*/
/************************************/


@media only screen and (max-width: 1500px) {
   	#top {
   		font-size: 50px;
   		font-family: "akzidenz-regular";
   	}

   	#header {
   		height: 50px;
   	}

   	#wow_title h1 {
   		font-size: 20px;
   	}
}

@media only screen and (max-width: 750px) {
   	#search::-webkit-input-placeholder  {
   		visibility: hidden;
   	}

   	#search {
   		width: 80%
   		border-style:none;
   	}

   	#wow_title {
   		visibility: hidden;
   	}

   	#nav_bar {
		float:left;
		margin-right: 50px;
	}

	#title {
		width: 1px
	}
}

@media only screen and (max-height: 500px) {

   	#body_words {
   		visibility: hidden;
   		height: 1px;
   	}

   	#search {
   		width: 20%
   		border-style:none;
   	}
}

/************************************/
/*				FONTS				*/
/************************************/

@font-face {
	font-family:"akzidenz-bold";
	src:url("akzidenz/akzidenz_bold.otf") format("opentype");
}

@font-face {
	font-family:"akzidenz-regular";
	src:url("akzidenz/akzidenz_regular.otf") format("opentype");
}

@font-face {
	font-family:"akzidenz-medium";
	src:url("akzidenz/akzidenz_medium.otf") format("opentype");
}

@font-face {
	font-family:"akzidenz-light";
	src:url("akzidenz/akzidenz_light.otf") format("opentype");
}
