/************************************/
/*				MAIN BODY			*/
/************************************/

body {
	margin:0;
	padding:0;
}

#header {
	display: flex;
	flex-direction:row;
	font-family:"nhd-bold";
	margin:0;
	padding:0;
	justify-content:space-between;
	align-items: center;

	height: 100px;
	background-color: hsla(0,0%,0%,0.5);
}

#wow_title {
	padding-left:30px;
	font-size:22pt; /* 30pt */
	font-family: "nhd-bold";
	color:white;
	text-decoration:none;
}

/************************************/
/*			NAVIGATION MENU			*/
/************************************/
#nav_bar {
	font-family:"nhd-medium";
	float:right;
	margin-right: 40px;
	margin-top:20px;
}

#nav_bar a {
	text-decoration:none;
	color: white;
	padding:15px;
	font-size: 20px;
	font-family:"nhd-medium";
}

#nav_bar a:hover {
	/*background-color: hsla(229,45%,93%,0.3);*/
	color: gold;
	border-radius: 15px;
}

#nav_bar div {
	float: right;
	margin-right: 50px;
	text-decoration: none;
	background-color: transparent;

	font-size: 15px;
	font-family:"nhd-medium";
	border-radius: 15px;
}

#nav_bar div button {
	background-color: transparent;
	border: none;
	color: white;
}

#dropbtn {
	font-size:20px;
	font-family: "nhd-medium";
	margin-bottom:10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: hsla(48,100%,50%,0.5);*/
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left:-20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	/*background-color: #f1f1f1;*/
}

#nav_bar div:hover .dropdown-content {
    display: block;
    background-color: hsla(0,0%,0%,0.5);
}

#nav_bar div:hover {
	/*background-color: hsla(48,100%,50%,0.5); /***/
	border-radius: 15px;
}

#about {
	margin-right:10px;
	margin-top:100px;
}

#about_text {
	padding: 50px;
	font-family: "nhd-lt"
}

#body_words h1 {
	font-family: "nhd-lt";
}

/************************************/
/*				MODALS				*/
/************************************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
	height: 100%; /* Full height */
/*    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.aboutModalContent {
    margin: 15% auto;
    padding: 20px;
    border: 1px hidden;
    width: 1px;
    height: 1px;
	border-radius: 25px;
}

.signInModalContent {
    margin: 20% auto;
    padding: 20px;
    border: 1px hidden;
	height: 1px;
    width: 1px;
	border-radius: 1px;
}

.uploadModalContent {
    margin: 20% auto;
    padding: 20px;
    border: 1px hidden;
	height: 1px;
    width: 1px;
	border-radius: 25px;
}

.objectModalContent {
    margin: 20% auto;
    padding: 20px;
    border: 1px hidden;
	height: 1px;
    width: 1px;
	border-radius: 25px;
}

.profileModalContent {
    background-color: white;
    margin: 20% auto;
/*    padding: 20px;*/
    border: 1px solid hidden;
	height: 1px;
    width: 1px;
	border-radius: 25px;
}

.highlighted {
	background-color: hsla(0,0%,60%,1);
	border-radius: 5px;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}

/************************************/
/*			About MODAL				*/
/************************************/
#aboutBody {
	position: absolute;
  	margin: auto;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-top: 10px;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 500px;
  	height: 300px;
 	overflow-y: none;
 	border-radius: 25px;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
	background-color: white;
	position:absolute;
 	align-items: center;
	text-justify: distribute;
	word-spacing: 3pt;
	letter-spacing: 0.5pt;
	text-align:justify;
	color: black;
}

#aboutBody h2 {
	color: black;
	font-family: "nhd-bold";
	margin-bottom: 10px;
}

#aboutBody a {
	color: hsla(0,0%,0%,1);
}

/************************************/
/*			SIGN UP MODAL			*/
/************************************/
#signUpBody {
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 600px;
  	height: 500px;
/*  	overflow-y: auto;*/
 	border-radius: 25px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
	background-color: white;
}

#signUpBody h2 {
	color: black;
	font-family: "nhd-bold";
	margin-bottom:70px;
}

#signUpBody p {
	font-family: "nhd-lt";
	font-size:12pt;
	margin-bottom:30px;
}

#signup_column {
    display: flex;
 	justify-content: center;
 	align-items: center;
	font-size: 20px;
	font-family: "nhd-lt";
	color: grey;
}

.butt {
	height:50px;
    width:100px;
    font-size: 15px;
}

#createAccount {
	color: white;
	font-family: "nhd-medium";
	background-color: #4f65d3;
	border-style: none;
	font-size: 20px;
	width: 200px;
	margin-top:40px;
	border-radius:10px;
}

td {
	padding-right: 40px;
	padding-bottom:10px;
}

table {
	border: none;
	border-collapse: collapse;
	margin-bottom:30px;
}


/************************************/
/*			SIGN IN MODAL			*/
/************************************/
#signInBody {
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 450px;
  	height: 400px;
  	overflow-y: auto;
 	border-radius: 25px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
	color: black;
	background-color: white;
}

.signin-alert {
	color: red;
	font-size : 24px;
	font-family: "nhd-medium";
}

#back-to-homepage {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size : 16px;
	font-family: "nhd-medium";
}

#signInBody td {
	color: black;
	background-color: blue;
}

#signInBody h2 {
	color: black;
	font-family: "nhd-bold";
}

#username_login {
	height: 35px;
	width: 50%;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "nhd-lt";
	font-size: 20px;
}

#username_password {
	height: 35px;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "nhd-lt";
	font-size: 20px;
}

#login_button {
	color: white;
	font-family: "nhd-medium";
	background-color: #4f65d3;
	border-style: none;
	font-size: 20px;
	width: 200px;
	border-radius: 10px;
}


/************************************/
/*			UPLOAD MODAL 			*/
/************************************/

#upload_body {
 	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 500px;
  	height: 500px;

 	border-radius: 20px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
	color: black;
	background-color: white;
	font-family: "nhd-lt";
}

#upload_body h1 {
	color: black;
	font-family: "nhd-bold";
}

#submit_button {
	color: white;
	font-family: "nhd-medium";
	background-color: #4f65d3;
	border-style: none;
	font-size: 20px;
	width: 150px;
	height: 50px;
	margin-top: 40px;
	border-radius: 10px;
}

#upload_form {
	display: flex;
  	flex-direction: column;
 	justify-content: center;
 	align-items: center;
}

#upload_file_button {
	padding-left: 80px;
}


/************************************/
/*			OBJECT MODAL 			*/
/************************************/

#object_body {
 	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;

  	width: 700px;
  	height: 300px;

 	border-radius: 20px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
	color: black;
	background-color: white;
	font-family: "nhd-lt";

	padding: 40px;
}

#object_map {
 	position: absolute;
  	margin: auto;
  	top: 30%;
  	right: 0;
  	bottom: 0;
  	left: 80%;
  	width: 150px;
  	height: 300px;
	border: 1px solid;
 	border-radius: 20px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
	color: black;
	background-color: white;
	font-family: "nhd-lt";
	padding: 40px;
}

#object_body h1 {
	color: black;
	font-family: "nhd-bold";
}


#artifact_table {
  border-style: none;
  /*margin-top: 50px;*/
}

#artifact_table td {
  border-style: none;
}

/************************************/
/*				BODY				*/
/************************************/

#body_text {
	position: fixed;
  	margin: auto;
  	top: 40%;
  	right: 0;
  	bottom: 20%;
  	left: 0;
  	width: 75%;
  	text-align: center;
}

#top {
	color: white;
	font-family:"nhd-lt";
	font-size: 80px;
	margin: 25px;
}

/************************************/
/*			SEARCH BAR				*/
/************************************/

.searchbar {
	height: 20px;
	width: 200px;
	font-size: 18px;
	font-family: "nhd-lt";
}

.tooltip {
    position: relative;
    display: inline-block;
}

#search {
    height: 60px;
    width: 750px;
    border-radius: 25px;
    padding: 5px 5px 5px 25px;
    z-index: 1;
    text-align: center;
    font-size: 20px;
    font-family: "nhd-lt";
	border-width: 0px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -130%;
    left: 35%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

/*.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-family: "nhd-lt";
    padding:10px;
    font-size: 10pt;
    width:350px;
}


/************************************/
/*				SEARCH				*/
/************************************/
#search_results {
	position: absolute;
	margin: auto;
	margin-top: 70px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 90%;
	height: 50%;
	padding-left: 50px;
	padding-right: 50px;
	padding-top:30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	background-color: hsla(0,0%,0%,0.5);
/*	overflow: scroll;
	visibility: hidden;*/
	border-radius:20px;
}

.search_result {
	color: black;
	font-size: 12px;
	font-family: "nhd-lt";
	display:inline-block;
	margin:20px;
	padding: 10px;
	background-color: white;
	width:100px;
	height:100px;
	border-style:solid;
	border-radius:5px;
	border-width: 1px;
}

/************************************/
/*			PROFILE					*/
/************************************/

#profile_search_results {

	margin: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: white;
	overflow: scroll;
}

#uploadList {
	margin: auto;


	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: white;
	overflow: scroll;
}

#profileModal {
	font-family:"nhd-lt";
}

/************************************/
/*			RESPONSIVE				*/
/************************************/

@media only screen and (max-width: 1500px) {
   	#top {
   		font-size: 50px;
   		font-family: "nhd-regular";
   	}
}

@media only screen and (max-width: 700px) {
   	#search::-webkit-input-placeholder  {
   		visibility: hidden;
   		font-family:"nhd-thin";
   	}

   	#search {
   		width: 80%
   		border-style:none;
   	}

   	#wow_title {
   		visibility: hidden;
   	}

   	#nav_bar {
		float:left;
		margin-right: 50px;
	}

	#title {
		width: 1px
	}

	#search {
   		width: 200px;
   		border-style:none;
   	}
}

@media only screen and (max-height: 500px) {

   	#body_words {
   		visibility: hidden;
   		height: 1px;
   	}

   #search {
   		width: 400px%
   		border-style:none;
   	}
}

/************************************/
/*				FONTS				*/
/************************************/
/*
@font-face {
	font-family:"nhd-bold";
	src:url("akzidenz/akzidenz_bold.otf") format("opentype");
}

@font-face {
	font-family:"nhd-regular";
	src:url("akzidenz/akzidenz_regular.otf") format("opentype");
}

@font-face {
	font-family:"nhd-medium";
	src:url("akzidenz/akzidenz_medium.otf") format("opentype");
}

@font-face {
	font-family:"nhd-lt";
	src:url("akzidenz/akzidenz_light.otf") format("opentype");
}*/

/*NEUE HAAS GROTESK*/

@font-face {
	font-family:"nhd-ult-thin";
	src:url("NeueHaas/nhdultrathin.otf") format("opentype");
}

@font-face {
	font-family:"nhd-ult-thin-italic";
	src:url("NeueHaas/nhdultraitalic.otf") format("opentype");
}

@font-face {
	font-family:"nhd-thin";
	src:url("NeueHaas/nhdthin.otf") format("opentype");
}

@font-face {
	font-family:"nhd-thin-italic";
	src:url("NeueHaas/nhdthinitalic.otf") format("opentype");
}

@font-face {
	font-family:"nhd-x-lt";
	src:url("NeueHaas/nhdxllt.otf") format("opentype");
}

@font-face {
	font-family:"nhd-x-lt-italic";
	src:url("NeueHaas/nhdxlltitalic.otf") format("opentype");
}

@font-face {
	font-family:"nhd-lt";
	src:url("NeueHaas/nhdlt.otf") format("opentype");
}

@font-face {
	font-family:"nhd-lt-italic";
	src:url("NeueHaas/nhdltitalic.otf") format("opentype");
}


@font-face {
	font-family:"nhd-regular";
	src:url("NeueHaas/nhdreg.otf") format("opentype");
}


@font-face {
	font-family:"nhd-regular-italic";
	src:url("NeueHaas/nhdregitalic.otf") format("opentype");
}

@font-face {
	font-family:"nhd-medium";
	src:url("NeueHaas/nhdmedium.otf") format("opentype");
}

@font-face {
	font-family:"nhd-medium-italic";
	src:url("NeueHaas/nhdmediumitalic.otf") format("opentype");
}

@font-face {
	font-family:"nhd-bold";
	src:url("NeueHaas/nhdbold.otf") format("opentype");
}

@font-face {
	font-family:"nhd-bold-italic";
	src:url("NeueHaas/nhdbolditalic.otf") format("opentype");
}

@font-face {
	font-family:"nhd-black";
	src:url("NeueHaas/nhdblk.otf") format("opentype");
}

@font-face {
	font-family:"nhd-black-italic";
	src:url("NeueHaas/nhdblkitalic.otf") format("opentype");
}

@font-face {
	font-family:"nht-regular";
	src:url("NeueHaas/nhtreg.otf") format("opentype");
}

@font-face {
	font-family:"nht-regular-italic";
	src:url("NeueHaas/nhtregitalic.otf") format("opentype");
}

@font-face {
	font-family:"nht-medium";
	src:url("NeueHaas/nhtmed.otf") format("opentype");
}

@font-face {
	font-family:"nht-medium-italic";
	src:url("NeueHaas/nhtmeditalic.otf") format("opentype");
}

@font-face {
	font-family:"nht-bold";
	src:url("NeueHaas/nhtbold.otf") format("opentype");
}

@font-face {
	font-family:"nht-bold-italic";
	src:url("NeueHaas/nhtbolditalic.otf") format("opentype");
}
