body {
	margin:0;
	padding:0;
}
#header {
	display: flex;
	flex-direction:row;
	font-family:"akzidenz-bold";
	margin:0;
	padding:0;justify-content:space-between;
	align-items: center;
	background-color: #FFCE33;
}
#title h1 {
	padding-left:20px;
	font-size: 20pt;
}


#nav_bar {
	font-family:"akzidenz-medium";
	float:right;
}
#nav_bar ul {
	list-style-type: none;
	padding-right:20px;
	/*margin:0;
	padding:0;*/
}
#nav_bar li {
	display:inline;
}
#nav_bar a {
	text-decoration: none;
	color:black;
	padding:15px;
}

#page_body {
	display:flex;
	flex-direction:row;
	justify-content: center;
}
#search {
	width:250px;
	height:400px;
	margin-top:50px;
	/*background-color: blue;*/
	border-style: solid;
	border-width: 1.5px;
	border-radius:10px;
}
#search h2 {
	font-family:"akzidenz-regular";
	font-size:14pt;
	letter-spacing: 0px;
	padding-left:15px;
}
#results input {
	margin-left:20px;
	width:150px;
}
#filters form {
	font-family:"akzidenz-light";
}
#filters input {
	margin-left:25px;
	/*line-height:;*/
	margin-top:5px;
}
#location_input {
	width:100px;
	margin-left:20px;
}
#date_input {
	width:100px;
	margin-left:20px;
}
#person_input {
	width:100px;
	margin-left:20px;
	margin-bottom:20px;
}
#search h4 {
	font-family:"akzidenz-regular";
	font-size:12pt;
	padding-left:25px;
}

#results_module {
	width:1310px;
	height:700px;
	margin-top:50px;
	margin-left:10px;
	overflow: scroll;
}

	.artifact {
		display:inline-block;
		margin:20px;
	}
	.artifact h4 {
		margin:0;
		padding:0;
		font-family:"akzidenz-regular";
		text-align:center;
	}
	.box {
		width:100px;
		height:100px;
		background-color: none;
		border-style:solid;
		border-radius:5px;
		border-width: 1px;
		margin:0;
		display:inline-block;

	}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid;
    border-radius:10px;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family:"akzidenz-medium";
    font-size:12pt;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #FFCE33;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #FFCE33;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid;
    border-radius: 10px;
    border-top: none;
}


#visual {
	width:300px;
	height:600px;
	border-style: solid;
	border-width: 1.5px;
	margin-top:50px;
	margin-left:10px;
}

#visual img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;


}

.check {
	padding-right: 10px;
	margin-right: 10px;
}


#Information h1 {
	font-family:"akzidenz-regular";
	font-size: 30px;
	padding-left: 20px;
}

#Information h2 {
	font-family:"akzidenz-bold";
	font-size: 20px;
	padding-left: 20px;
}

#back_button {
	text-decoration: none;
	color: #9E98E5;
}

#Information a {
	text-decoration: none;
	color: #9E98E5;
	font-family: "akzidenz-regular";
	padding-left: 20px;
	padding-top: 0px;
	margin-top: 0px;
}

.list {
	padding-left: 20px;
}

td {
	font-family: "akzidenz-regular";
}

#last_table {
	padding-bottom: 30px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 50px;
    padding-top: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content p {
	font-family:"akzidenz-medium";
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
	margin-left: 20px;
}

/*FONTS*/

@font-face {
	font-family:"akzidenz-bold";
	src:url("akzidenz/akzidenz_bold.otf") format("opentype");
}

@font-face {
	font-family:"akzidenz-regular";
	src:url("akzidenz/akzidenz_regular.otf") format("opentype");
}

@font-face {
	font-family:"akzidenz-medium";
	src:url("akzidenz/akzidenz_medium.otf") format("opentype");
}

@font-face {
	font-family:"akzidenz-light";
	src:url("akzidenz/akzidenz_light.otf") format("opentype");
}

