#userProfile_tbl {
	display: inline-block;
	width: 40%;
}

#userProfile_tbl label {
	color: black;
}

#profile_search {
	display: inline-block;
	width: 50%;
}

#profile_search #body_words{
	color : black
}

#profile_search_results {

	position: absolute;
	margin: auto;
	margin-top: 50px;


	width: 50%;
	height: 70%;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: white;
	overflow: scroll;
}
