#userProfile_tbl {
	display: inline-block;
	width: 40%;
}

#userProfile_tbl label {
	color: black;
}

#profile_search {
	display: inline-block;
	width: 50%;
}

#profile_search #body_words{
	color : black
}
