/****************************************/
/*	CSS Styling for login/signup modals */
/****************************************/

/****************************/
/*			Generic			*/
/****************************/
body {
	margin:0;;
}

h1 {
	padding-left:30px;
	font-size: 30pt;
	color: hsla(0,0%,100%,1);
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-family:"akzidenz-regular";
}

h2 {
	padding-left:40px;
	margin: 0;
	font-size: 20pt;
	color: #5D5D5D;
	font-family:"akzidenz-regular";
}

p {
	color: hsla(0,0%,100%,1);
}

label {
	color: hsla(0,0%,100%,1);
	font-family:"akzidenz-regular";
}

/****************************/
/*			Sign Up			*/
/****************************/
#signup_table {
	background: hsla(0,0%,0%,0.8);
	border: solid white 1px;
	border-radius: 15px;
	padding: 50px;
}

#signup_table td {
	padding: 5px;
}

/****************************/
/*			Sign In			*/
/****************************/
#signin_table {
	background: hsla(0,0%,0%,0.8);
	border: solid white 1px;
	border-radius: 25px;
	padding: 50px;
}

#signin_table td {
	padding: 5px;
}


.indent {
	text-indent: 20px;
	margin: 0px;
	padding: 0px;
	font-size: 30px;
}

.smaller {
	font-size: 20px;
}

.check {
	padding-right: 10px;
	margin-right: 10px;
}

.btn {
	height: 30px;
    width: 200px;
	border-radius: 25px;
    font-size: 20px;
}

#floatright {
	text-align: center;
}

#center {
	text-align: center;
}

input[type=checkbox] {
  transform: scale(1.5);
}

/****************************/
/*			Fonts			*/
/****************************/
@font-face {
	font-family:"akzidenz-bold";
	src:url("akzidenz/akzidenz_bold.otf") format("opentype");
}

@font-face {
	font-family:"akzidenz-regular";
	src:url("akzidenz/akzidenz_regular.otf") format("opentype");
}

@font-face {
	font-family:"akzidenz-medium";
	src:url("akzidenz/akzidenz_medium.otf") format("opentype");
}

@font-face {
	font-family:"akzidenz-light";
	src:url("akzidenz/akzidenz_light.otf") format("opentype");
}

