/************************************/
/*				MAIN BODY			*/
/************************************/

body {
	margin:0;
	padding:0;
}

#header {
	display: flex;
	flex-direction:row;
	font-family:"nhd-bold";
	margin:0;
	padding:0;
	justify-content:space-between;
	align-items: center;

	height: 100px;
	background-color: hsla(0,0%,0%,0.5);
}

#title h1 {
	padding-left:30px;
	font-size: 30pt;
	color: white;
}

/************************************/
/*			NAVIGATION MENU			*/
/************************************/
#nav_bar {
	font-family:"nhd-regular";
	float:right;
	margin-right: 40px;
}

#nav_bar a {
	text-decoration:none;
	color: white;
	padding:15px;
	font-size: 20px;
	font-family:"nhd-medium";
}

#nav_bar a:hover {
	background-color: hsla(48,100%,50%,0.5);
	border-radius: 15px;
}


/************************************/
/*			UPLOAD BODY 			*/
/************************************/

#upload_body {
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 500px;
  	height: 500px;

  	border-style: solid;
  	border-color: lightgrey;
  	border-radius: 20px;
  	border-width: 1px;

  	overflow-y: auto;

  	font-family: "nhd-lt";

  	display: flex;
  	flex-direction: column;
 	justify-content: center;
 	align-items: center;

 	background-color: white;
}

#upload_body h1 {
	color: black;
	font-family: "nhd-bold";
}

#submit_button {
	color: white;
	font-family: "nhd-medium";
	background-color: #4f65d3;
	border-style: none;
	font-size: 20px;
	width: 150px;
	height: 50px;
	margin-top: 40px;
}

#upload_form {
	display: flex;
  	flex-direction: column;
 	justify-content: center;
 	align-items: center;
}

#upload_file_button {
	padding-left: 80px;
}

/************************************/
/*			RESPONSIVE				*/
/************************************/


@media only screen and (max-width: 1500px) {
   	#top { 
   		font-size: 50px;
   	}
   	
   	#header {
   		height: 50px;
   	}

   	#title h1 {
   		font-size: 20px;
   	}

   	#nav_bar a {
   		font-size: 15px;
   	}

}

@media only screen and (max-width: 750px) {
   	#search::-webkit-input-placeholder  {
   		visibility: hidden;
   	}

   	#search {
   		width: 80%
   	}

   	#nav_bar_title {
   		visibility: hidden;
   	}

   	#nav_bar {
		float:left;
		margin-right: 50px;
	}

	#title {
		width: 1px
	}
}

@media only screen and (max-width: 600px) {
   	#nav_bar a {
   		font-size: 12px;
   	}
}


@media only screen and (max-width: 500px) {
   	#nav_bar a {
   		font-size: 8px;
   	}
}

@media only screen and (max-height: 500px) {

   	#body_words {
   		visibility: hidden;
   		height: 1px;
   	}

}

/************************************/
/*				FONTS				*/
/************************************/

/*@font-face {
	font-family:"nhd-bold";
	src:url("akzidenz/akzidenz_bold.otf") format("opentype");
}

@font-face {
	font-family:"nhd-regular";
	src:url("akzidenz/akzidenz_regular.otf") format("opentype");
}

@font-face {
	font-family:"nhd-medium";
	src:url("akzidenz/akzidenz_medium.otf") format("opentype");
}

@font-face {
	font-family:"nhd-lt";
	src:url("akzidenz/akzidenz_light.otf") format("opentype");
}*/

@font-face {
	font-family:"nhd-ult-thin";
	src:url("NeueHaas/nhdultrathin.otf") format("opentype");
}

@font-face {
	font-family:"nhd-ult-thin-italic";
	src:url("NeueHaas/nhdultraitalic.otf") format("opentype");
}

@font-face {
	font-family:"nhd-thin";
	src:url("NeueHaas/nhdthin.otf") format("opentype");
}

@font-face {
	font-family:"nhd-thin-italic";
	src:url("NeueHaas/nhdthinitalic.otf") format("opentype");
}

@font-face {
	font-family:"nhd-x-lt";
	src:url("NeueHaas/nhdxllt.otf") format("opentype");
}

@font-face {
	font-family:"nhd-x-lt-italic";
	src:url("NeueHaas/nhdxlltitalic.otf") format("opentype");
}

@font-face {
	font-family:"nhd-lt";
	src:url("NeueHaas/nhdlt.otf") format("opentype");
}

@font-face {
	font-family:"nhd-lt-italic";
	src:url("NeueHaas/nhdltitalic.otf") format("opentype");
}


@font-face {
	font-family:"nhd-regular";
	src:url("NeueHaas/nhdreg.otf") format("opentype");
}


@font-face {
	font-family:"nhd-regular-italic";
	src:url("NeueHaas/nhdregitalic.otf") format("opentype");
}

@font-face {
	font-family:"nhd-medium";
	src:url("NeueHaas/nhdmedium.otf") format("opentype");
}

@font-face {
	font-family:"nhd-medium-italic";
	src:url("NeueHaas/nhdmediumitalic.otf") format("opentype");
}

@font-face {
	font-family:"nhd-bold";
	src:url("NeueHaas/nhdbold.otf") format("opentype");
}

@font-face {
	font-family:"nhd-bold-italic";
	src:url("NeueHaas/nhdbolditalic.otf") format("opentype");
}

@font-face {
	font-family:"nhd-black";
	src:url("NeueHaas/nhdblk.otf") format("opentype");
}

@font-face {
	font-family:"nhd-black-italic";
	src:url("NeueHaas/nhdblkitalic.otf") format("opentype");
}

@font-face {
	font-family:"nht-regular";
	src:url("NeueHaas/nhtreg.otf") format("opentype");
}

@font-face {
	font-family:"nht-regular-italic";
	src:url("NeueHaas/nhtregitalic.otf") format("opentype");
}

@font-face {
	font-family:"nht-medium";
	src:url("NeueHaas/nhtmed.otf") format("opentype");
}

@font-face {
	font-family:"nht-medium-italic";
	src:url("NeueHaas/nhtmeditalic.otf") format("opentype");
}

@font-face {
	font-family:"nht-bold";
	src:url("NeueHaas/nhtbold.otf") format("opentype");
}

@font-face {
	font-family:"nht-bold-italic";
	src:url("NeueHaas/nhtbolditalic.otf") format("opentype");
}
